PORT = Your port number (e.g., 5000)
DB_PATH = Path to your SQLite database file (e.g., ./database/db.db)
JWT_SECRET = Your secret key for JWT
JWT_EXPIRES_IN = JWT token expiration time (e.g., 1h for 1 hour)
CLIENT_URL = URL of your frontend client (e.g., http://localhost:3000)